@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .toggle-checkbox:checked {
    right: 0;
    border-color: #E05C00;
  }
  .toggle-checkbox:checked + .toggle-label {
    background-color: #E05C00;
  }
}
